{{ define "main"}}
<main id="main">
    <h1>{{ .Title}}</h1>
    <div class="item__meta">
        {{ with .Params.author }}<span class="item__url">
            {{ T "author"}}: {{ . }}</span>
        {{ end }}
        {{ $title := .Title }}
        {{ $code := .Site.Language.Lang }}
        {{ with .Params.download }}
        <span class="item__url">
            <a href="/{{ . }}{{ $code }}/{{ $title }}.txt" download="{{ $title }}.txt">
                {{ T "download" "TXT" }}
            </a></span>
        {{ end }}
    </div>
    <ol>
        {{ $paginator := .Paginate .Data.Pages 50 }}
        {{ range $paginator.Pages }}
        <li class="item"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></li>
        {{ end }}
    </ol>

    <nav class="pagination">{{ template "_internal/pagination.html" . }}</nav>
</main>
{{end}}